<span class="text-xl text-center mb-5 col-span-full text-grey font-semibold">
  Reset Your Password
</span>
<form class="col-span-full" [formGroup]="reset_form">
  <fieldset class="mb-3">
    <input
      type="password"
      formControlName="new_password"
      class="input w-full"
      placeholder="password*"
    />
    <div class="error ml-4 mt-2">
      <span *ngIf="reset_form.get('new_password')?.hasError('required')">
        please enter your password
      </span>
      <span *ngIf="reset_form.get('new_password')?.hasError('minlength')">
        password is too short
      </span>
    </div>
  </fieldset>
  <fieldset class="col-span-full">
    <input
      type="password"
      formControlName="confirm_password"
      class="input w-full"
      placeholder="confirm password*"
    />
    <div class="error ml-4 mt-2">
      <span *ngIf="reset_form.get('confirm_password')?.hasError('required')">
        please confirm your password
      </span>
      <span
        *ngIf="
          reset_form.get('confirm_password')?.hasError('Confirmation') &&
          !reset_form.get('confirm_password')?.hasError('required')
        "
      >
        password does <b>not</b> match
      </span>
    </div>
  </fieldset>
</form>
<costume-button
  type="reset"
  title="cancel"
  class="col-span-6 mt-3"
></costume-button>
<costume-button
  type="submit"
  title="reset password"
  class="col-span-6 mt-3 ml-2"
></costume-button>
