  <button
    [ngClass]="[type]"
    [type]="type"
    (mousedown)="set_style_on_mouse_event('mousedown')"
    (mouseup)="set_style_on_mouse_event('mouseup')"
    (mouseenter)="set_style_on_mouse_event('mouseenter')"
    (mouseleave)="set_style_on_mouse_event('mouseleave')"
    (click)="set_style_on_mouse_event('click')"
    #btn
  >
    <span *ngIf="icon">
      <img [src]="icon" alt="" width="35" />
      <ng-content
        #content
        [ngClass]="{
          'mt-1 ml-1 -mr-3': icon
        }"
      ></ng-content>
    </span>
    <span *ngIf="!icon"><ng-content></ng-content></span>
  </button>
