<div class="flex flex-col justify-evenly gap-y-12 w-full h-full p-5">
<!-- Members -->
  <div class="flex flex-col gap-y-3">
    <span class="text-dark text-2xl font-bold">Members</span>
    <app-table [data-list]="members"></app-table>
    <button class="change-btn ml-auto" (click)="open_modal('members')">
      Add Members
    </button>
  </div>
  <!-- Projects -->
  <div class="flex flex-col gap-y-3">
    <span class="text-dark text-2xl font-bold">Projects</span>
    <app-table [data-list]="projects"></app-table>
    <button class="change-btn ml-auto" (click)="open_modal('projects')">
      Add projects
    </button>
  </div>
</div>

<app-modal #modal></app-modal>
