<div class="flex flex-col w-full h-full justify-evenly align-middle gap-8">
  <div class="flex flex-col justify-center align-middle">
    <span class="text-grey text-xl self-center font-semibold">Forgot your password ?</span>
    <p class="text-dark text-lg self-center mt-3">
      Don't worry we will send you reset instructions
    </p>
  </div>
  <div class="grid grid-col-6 grid-row-4 gap-y-4" >
    <input class="input col-span-6 mx-5" placeholder="email" [formControl]="forgot_password_form" />
    <button class="form-submit-btn col-span-6 mx-5" (click)="sendEmail()">send email</button>
  </div>
<span class="text-grey row-start-4 mr-2 self-center">
  Don't have an account?
  <a class="link" [routerLink]="'../register'">Sign in</a>
  to get started
</span>
</div>
