<div class="flex flex-col w-full p-5 gap-5">
  <input type="text" class="input w-full" placeholder="search projects" />
  <div class="grid grid-cols-2 gap-4">
    <div
      class="card-dark hover:-translate-y-1 hover:shadow hover-transition"
      role="button"
      *ngFor="let project of projectsList | async"
    >
      <h1 class="text-xl text-light font-bold">{{ project.name }}</h1>
      <p class="text-light font-semibold my-3">
        {{project.description}}
      </p>
      <p class="text-light font-semibold">
        created at: {{ project.create_date }}
      </p>
      <p class="text-light font-semibold">
        last modified: {{ project.modify_date }}
      </p>
    </div>
  </div>
</div>
