<div class="flex flex-col w-full p-5 gap-5">
  <input type="text" class="input w-full" placeholder="search projects" />
  <div class="grid grid-cols-2 gap-4">
    <div class="card-dark hover:-translate-y-1 hover:shadow hover-transition" role="button">
      <h1 class="text-xl text-light font-bold">Project name</h1>
      <p class="text-light font-semibold">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, facilis
        minima. Iure, maxime nobis laborum amet suscipit dignissimos rem enim
        nostrum natus, atque blanditiis! Aspernatur quisquam hic soluta quidem
        atque!
      </p>
      <p class="text-right text-light font-semibold">yyyy/mmmm/dddd</p>
    </div>
  </div>
</div>
