<div class="flex flex-col h-min">
  <div
    #select
    class="flex justify-between input select cursor-pointer"
    [ngClass]="selected ? 'select-focus' : 'visible'"
    (click)="onFocus()"
  >
    <span
      class="place-holder text-md"
      [ngClass]="selectedValue ? 'text-dark' : 'text-grey'"
    >
      {{ selectedValue ? selectedName : placeHolder }}
    </span>
    <span class="arrow" [ngClass]="selected ? 'visible' : 'rotate-180'"
      ><img
        src="../../../../assets/images/icons/up-arrow-svgrepo-com.svg"
        alt="arrow"
        width="12"
    /></span>
  </div>
  <div
    class="min-w-[150px] max-h-[163px] w-max overflow-y-scroll flex flex-col bg-white rounded-xl p-3 z-10 fixed transition-all"
    [ngClass]="
      selected ? 'border-[2px] border-gray-100' : 'invisible opacity-0'
    "
    *ngIf="selected"
  >
    <div
      class="text-dark text-md w-full h-full hover:bg-gray-100 border-gray-600 cursor-pointer transition-all min-h-[45px] flex"
      *ngFor="let data of dataList"
      [ngClass]="selectedValue === data.value ? 'bg-gray-100' : 'visible'"
      (click)="onSelect(data)"
    >
      <span class="icon mr-2" *ngIf="data.icon">
        <img [src]="data.icon" alt="" width="35" />
      </span>
      <span class="text-dark text-md self-center ml-3">
        {{ data.name }}
      </span>
    </div>
  </div>
</div>
