<div class="flex flex-col w-full h-full align-middle justify-around p-10">
  <span class="text-grey self-center mx-auto text-xl">Sign in</span>
  <form
    class="grid grid-cols-6 grid-rows-10 gap-y-4 gap-x-3 mt-10"
    [formGroup]="login_form"
    (ngSubmit)="submit()"
  >
    <fieldset class="col-span-6 row-span-2">
      <input
        type="text"
        formControlName="username"
        class="input w-full"
        placeholder="username"
      />
      <div class="error ml-4" *ngIf="login_form.invalid">
        <p *ngIf="login_form.get('username')?.hasError('required')">
          please enter your username
        </p>
      </div>
    </fieldset>
    <fieldset class="col-span-6 row-span-2">
      <input
        type="password"
        formControlName="password"
        class="input w-full"
        placeholder="password"
      />
      
      <div class="error ml-4" *ngIf="login_form.invalid">
        <p *ngIf="login_form.get('password')?.hasError('required')">
          please enter your password
        </p>
        <p *ngIf="login_form.hasError('worng')">
          username or password is incorrect
        </p>
      </div>
    </fieldset>
    <a
      class="link row-start-auto w-max pl-3 cursor-pointer"
      [routerLink]="'../forgot-password'"
      >Forgot password</a
    >
    <button
      type="reset"
      class="form-reset-btn col-start-1 col-end-3 row-start-auto"
    >
      cancel
    </button>
    <button
      type="submit"
      class="form-submit-btn row-start-auto col-start-5 col-end-7"
    >
      login
    </button>
    <div class="col-start-2 col-end-6 row-start-auto flex justify-center">
      <p class="text-dark w-max self-center mr-2">
        Don't have an account?
        <a class="cursor-pointer link" [routerLink]="'../register'">Sign up</a>
        to create one.
      </p>
    </div>
  </form>
</div>
