<form
  [formGroup]="add_organization_form"
  (submit)="submit()"
  class="grid gap-y-5 gap-x-2 grid-cols-8 w-[50vw]"
>
  <fieldset class="col-span-6">
    <input
      type="text"
      class="input w-full"
      placeholder="name"
      formControlName="name"
    />
    <span
      class="text-error relative left-3 top-2"
      *ngIf="add_organization_form.get('name')?.hasError('required')"
      >field cannot be empty!</span
    >
  </fieldset>
  <fieldset class="col-span-2">
    <input
      type="text"
      class="input w-full"
      placeholder="short name"
      formControlName="short"
    />
    <span
      class="text-error relative left-3 top-2"
      *ngIf="add_organization_form.get('short')?.hasError('required')"
      >field cannot be empty!</span
    >
  </fieldset>
  <fieldset class="col-span-8">
    <input
      type="text"
      class="input w-full"
      placeholder="email"
      formControlName="email"
    />
    <span
      class="text-error relative left-3 top-2"
      *ngIf="add_organization_form.get('email')?.hasError('required')"
      >field cannot be empty!</span
    >
  </fieldset>
  <fieldset class="col-span-8">
    <input
      type="text"
      class="input w-full"
      placeholder="address"
      formControlName="address"
    />
  </fieldset>
  <div class="col-span-8 flex flex-row-reverse justify-between mt-3">
    <button class="form-submit-btn w-1/5" type="submit">Add</button>
    <button class="form-reset-btn w-1/5" type="reset">cancel</button>
  </div>
</form>
