<div
  class="card-dark h-max flex flex-col mx-auto transition-all max-w-[900px]"
  [ngClass]="{ 'w-[80vw]': static }"
>
  <div class="w-full h-2/3 flex justify-around gap-5">
    <div class="w-1/3 flex justify-center items-center">
      <div
        class="rounded-full aspect-square flex bg-white items-center justify-center overflow-hidden w-full"
        *ngIf="static"
        [ngClass]="{
          'account-image': !user?.user_image || user?.user_image === ' '
        }"
      ></div>
      <label
        *ngIf="!static"
        class="rounded-full aspect-square flex bg-white justify-center overflow-hidden w-full profile-container cursor-pointer"
        [ngClass]="{
          'account-image': !user?.user_image || user?.user_image === ' '
        }"

        #output
      >
        <input
          #profileInput
          type="file"
          accept="image/*"
          class="invisible absolute"
          (change)="display_image()"
        />
      </label>
    </div>
    <ng-container *ngIf="static">
      <div
        class="grid grid-cols-2 grid-rows-3 mt-5 gap-y-2 w-full h-72"
        [ngClass]="static ? 'visible opacity-100' : 'invisible opacity-0'"
      >
        <span class="text-light text-[70px] font-bold col-span-1">
          Kurosh
        </span>
        <span class="text-light text-[70px] font-bold col-span-1"> Zhale </span>
        <div class="text-light col-span-1 row-span-1">
          <div class="info w-max">
            <span class="opacity-50 mr-2 text-lg">username:</span
            ><span class="font-semibold text-lg">@kurosh</span>
          </div>
        </div>
        <div class="text-light col-span-1 row-span-1">
          <div class="info w-max">
            <span class="opacity-50 mr-2 text-lg">email:</span
            ><span class="font-semibold text-lg">kjreem.imagine@gmail.com</span>
          </div>
        </div>
        <div class="text-light col-span-1 row-span-1">
          <div class="info w-max">
            <span class="opacity-50 mr-2 text-lg">date of birth:</span>
            <span class="font-semibold text-lg">yyyy/mmmm/dddd</span>
          </div>
        </div>
        <div class="text-light col-span-1 row-span-1">
          <div class="info w-max">
            <span class="opacity-50 mr-2 text-lg">phone:</span>
            <span class="font-semibold text-lg">(+98)919 144 6294</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!static">
      <form
        [formGroup]="update_user_form"
        class="grid grid-cols-2 grid-rows-3 gap-2 h-full w-full mb-6"
        [ngClass]="!static ? 'visible opacity-100' : 'invisible opacity-0'"
      >
        <fieldset class="col-span-1">
          <input
            class="text-dark text-xl !shadow-none input w-full"
            placeholder="first name"
            formControlName="first_name"
          />
        </fieldset>
        <fieldset class="col-span-1">
          <input
            class="text-dark text-xl !shadow-none input w-full"
            placeholder="last name"
            formControlName="last_name"
          />
        </fieldset>
        <fieldset class="col-span-2">
          <input
            class="text-dark text-xl !shadow-none input w-full"
            placeholder="username"
            formControlName="username"
          />
        </fieldset>
        <fieldset class="col-span-2">
          <input
            class="text-dark text-xl !shadow-none input w-full"
            placeholder="email"
            formControlName="email"
          />
        </fieldset>
        <fieldset class="col-span-2">
          <input
            class="text-dark text-xl !shadow-none input w-full"
            placeholder="birthday"
            formControlName="birth_date"
            type="date"
          />
        </fieldset>
        <fieldset class="col-span-1">
          <input
            class="text-dark text-xl !shadow-none input w-full"
            placeholder="phone"
            formControlName="phone"
            type="tel"
          />
        </fieldset>
        <fieldset class="col-span-1">
          <input
            class="text-dark text-xl !shadow-none input w-full"
            placeholder="fax"
            formControlName="fax"
            type="tel"
          />
        </fieldset>
      </form>
    </ng-container>
  </div>
  <div class="flex w-full h-1/3 items-center">
    <button
      (click)="static = !static"
      class="ml-auto"
      [ngClass]="!static ? 'form-submit-btn text-dark ' : 'change-btn'"
      (click)="update_user()"
    >
      {{static? 'change':'submit'}}
    </button>
  </div>
</div>
