<div class="w-[150px] transition-all bg-orange-300 h-full pt-3">
  <div class="h-full">
    <div class="cancle-btn">
      <img
        src="../../../../../assets/images/icons/cancel-close-delete-svgrepo-com.svg"
        alt="menu"
        width="28"
        (click)="navigate('dashboard')"
      />
    </div>
    <div class="flex flex-col justify-center  h-1/2 mt-5">
      <div class="flex flex-col justify-evenly h-1/2 mb-auto">
        <div
          class="sidebar-btn border-y-[0.5px]"
          (click)="navigate('profile')"
        >
          <span class="text-dark self-center font-semibold">Profile</span>
        </div>
        <div
          class="sidebar-btn border-b-[0.5px]"
          (click)="navigate('organizations')"
        >
          <span class="text-dark font-semibold self-center">Organization</span>
        </div>
        <div
          class="sidebar-btn"
          (click)="navigate('prefrences')"
        >
          <span class="text-dark font-semibold self-center">Prefrences</span>
        </div>
        <div
          class="sidebar-btn border-y-[0.5px]"
          (click)="navigate('contact')"
        >
          <span class="text-dark font-semibold self-center">Contact us</span>
        </div>
      </div>
    </div>
  </div>
</div>
