.dash-scroll::-webkit-scrollbar {
  appearance: none;
  width: 5px;
}

.dash-scroll::-webkit-scrollbar-track {
  background-color: var(--shadow-light);
}

.dash-scroll::-webkit-scrollbar-thumb {
  background-color: #696969;
  border-radius: 20px;
  border: 1px transparent solid;
}
