<div
  class="flex flex-col w-[50px] bg-blue-300 h-full justify-evenly gap-5 px-3 pt-3"
>
  <img
    src="../../../../assets/images/icons/menu.svg"
    alt="menu"
    class="cursor-pointer"
  />
  <img
    src="../../../../assets/images/icons/house-fill-svgrepo-com.svg"
    alt="home"
    class="cursor-pointer"
  />
  <img
    src="../../../../assets/images/icons/dashboard-svgrepo-com.svg"
    alt="projects"
    class="cursor-pointer"
  />
  <img
    src="../../../../assets/images/icons/book-1-svgrepo-com.svg"
    alt="logs"
    class="cursor-pointer"
  />
  <img
    src="../../../../assets/images/icons/search-magnifying-glass-svgrepo-com.svg"
    alt="search"
    class="cursor-pointer"
  />
  <img
    src="../../../../assets/images/icons/like-svgrepo-com.svg"
    class="cursor-pointer"
    alt="pins"
  />
  <img
    src="../../../../assets/images/icons/settings-ui-svgrepo-com.svg"
    alt="setting"
    class="mt-auto mb-5 cursor-pointer"
  />
</div>
