.body {
  background-size: cover;
}

.background-1 {
  background-image: url("../../../../assets/images/login_background.jpg");
  transition: all 500ms ease-in-out;
}
.background-2 {
  background-image: url("../../../../assets/images/flowers-8021795_1920.jpg");
  transition: all 500ms ease-in-out;
}
.background-3 {
  background-image: url("../../../../assets/images/aurora-1197753_1920.jpg");
  transition: all 500ms ease-in-out;
}
.background-4 {
  background-image: url("../../../../assets/images/flower-8149354_1920.jpg");
  transition: all 500ms ease-in-out;
}
.background-5 {
  background-image: url("../../../../assets/images/midday-flower-6717714_1920.jpg");
  transition: all 500ms ease-in-out;
}


