<div
  class="body w-[100vw] h-[100vh] flex flex-col justify-between sticky"
  #container
>
  <div
    class="flex w-[100vw] px-10 mobile:px-8 h-min justify-evenly mt-5 mb-auto"
  >
    <div class="mr-auto flex justify-between">
      <h1 class="light cursor-pointer text-3xl mobile:text-2xl logo">
        Data Collection
      </h1>
    </div>
    <span
      class="light cursor-pointer self-center router mobile:text-md"
      [routerLink]="route_link"
      >{{ route_link }}</span
    >
  </div>
  <div class="w-full h-5/6 flex items-center my-auto">
    <div
      class="card-light laptop:w-[60vw] desktop:w-[60vw] mobile:w-[85vw] mobile:h-max h-max m-auto"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
