/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #f5f6fb;
  --dark: #1c274c;
  --grey: #00000099;
  --light-primary: #1edbb5;
  --light-secondary: #0fbcda;
  --light-accent-primary: #feda45;
  --light-accent-secondary: #fa7894;
  --green: #7bda00;
  --link-blue: #0ba2ec80;
  --dark-blue: #2563eb;
  --light-blue: #3b82f6;
  --link-purple: #340bec80;
  --shadow-light: #ececec;
  --error-red: #c74b4b;
}

* {
  font-family: "TRIAL Rooftop", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

h1.light {
  color: var(--light);
}

h1.dark {
  color: var(--dark);
}

h2.light {
  color: var(--light);
}

h2.dark {
  color: var(--dark);
}

h3.light {
  color: var(--light);
}

h3.dark {
  color: var(--dark);
}

h4.light {
  color: var(--light);
}

h4.dark {
  color: var(--dark);
}

h5.light {
  color: var(--light);
}

h5.dark {
  color: var(--dark);
}

span.light {
  color: var(--light);
}

span.dark {
  color: var(--dark);
}

p.light {
  color: var(--light);
}

p.dark {
  color: var(--dark);
}

input select {
  border: none;
  appearance: none;
  outline: none;
}

.logo {
  font-family: "Alien League", sans-serif;
  font-weight: 600;
  cursor: default;
}

.input {
  border: var(--shadow-light) solid 1px;
  height: 52px;
  box-shadow: 0px 0px 5px var(--shadow-light);
  border-radius: 14px;
  padding: 15px;
  min-width: 50px;
  transition: all 300ms ease-out;
}

.input:focus {
  border: 0.5px solid var(--dark);
  box-shadow: 0px 0px 5px var(--shadow-light);
}

.input::placeholder {
  color: var(--grey);
  transition: all 250ms ease-out;
}

.input:focus::placeholder {
  color: transparent;
}

.input:invalid::placeholder {
  border-color: var(--error-red);
  color: var(--error-red);
}

.link {
  color: var(--link-blue);
  text-decoration: underline;
}

.link:visited {
  color: var(--link-purple);
}

.error {
  color: var(--light-accent-secondary);
  transition: all 250ms ease-out;
  font-size: 0.8rem;
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-grey {
  color: var(--grey);
}

.text-error {
  color: var(--error-red);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

@mixin card($color, $text_color) {
  padding: 15px 30px;
  border: transparent 1px solid;
  border-radius: 28px;
  box-shadow: 0px 0px 10px $color;
  color: $text_color;
  background-color: $color;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
}

div.card-light {
  @include card(var(--light), var(--dark));
}

div.card-light > *,
div.card-dark > * {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

div.card-dark {
  @include card(var(--dark), var(--light));
}

div.card-light::-webkit-scrollbar,
div.card-dark::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  border: 1px transparent solid;
  border-radius: 15px;
  position: relative;
  background-color: var(--light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--shadow-light);
  border: 1px transparent solid;
  border-radius: 15px;
}