/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #ececec;
  --dark: #1c1b1f;
  --grey: #00000099;
  --orange: #cf834a;
  --lime-light: #d5faa7;
  --lime-dark: #b8ff60;
  --link-blue: #0ba2ec80;
  --link-purple: #340bec80;
  --shadow-light: #c9c9c9;
  --error-red: #c74b4b;
}

body {
  overflow-y: hidden;
}

input select {
  border: none;
  appearance: none;
  outline: none;
}

.input {
  border: var(--shadow-light) solid 1px;
  height: 52px;
  box-shadow: 0px 0px 5px var(--shadow-light);
  border-radius: 14px;
  padding: 15px;
  min-width: 150px;
  transition: all 300ms ease-out;
}

.input:focus {
  border: 0.5px solid var(--dark);
  box-shadow: 0px 0px 5px var(--shadow-light);
}

.input::placeholder {
  color: var(--grey);
  transition: all 250ms ease-out;
}

.input:focus::placeholder {
  color: transparent;
}

.input:invalid::placeholder {
  border-color: var(--error-red);
  color: var(--error-red);
}

.link {
  color: var(--link-blue);
  text-decoration: underline;
}

.link:visited {
  color: var(--link-purple);
}

.error {
  color: var(--error-red);
  transition: all 250ms ease-out;
}

.form-submit-btn {
  min-width: 80px;
  height: 47px;
  border: transparent 1px solid;
  border-radius: 35px;
  color: var(--grey);
  font-weight: 700;
  background-color: #d5faa7;
  box-shadow: -2px 3px 4px var(--grey);
  transition: all 300ms ease-out;
}

.form-reset-btn {
  font-weight: 700;
  background-color: transparent;
  color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 35px;
  transition: all 300ms ease-out;
}

.form-submit-btn:hover {
  background-color: var(--lime-dark);
  transform: translateY(-3px);
  box-shadow: 0px 5px 4px var(--grey);
  color: var(--dark);
}

.form-reset-btn:hover {
  background-color: #cf834a;
  transform: translateY(-3px);
  box-shadow: 0px 5px 4px var(--grey);
  color: var(--dark);
}

.change-btn {
  @apply bg-blue-600 rounded-md text-light w-32 h-1/2 ml-auto mr-5 transition-all;
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-grey {
  color: var(--grey);
}

.text-error {
  color: var(--error-red);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

@mixin card($text, $bgc) {
  padding: 15px 30px;
  border: transparent 1px solid;
  border-radius: 28px;
  box-shadow: 0px 0px 10px $bgc;
  color: $text;
  background-color: $bgc;
}

.card-light {
  @include card(var(--dark), var(--light));
}

.card-dark {
  @include card(var(--light), var(--dark));
}
