<div class="flex flex-col w-full h-min gap-5">
  <div
    class="flex w-full h-12 shadow-md rounded-md bg-slate-100 justify-between items-center px-3 py-2 sticky top-0"
  >
    <app-pagination [pages]="5"></app-pagination>
    <div class="flex justify-between w-[100px] h-full items-center">
      <button class="rounded-sm shadow-md w-8 h-8 bg-white border-gray-300 p-1">
        <img
          src="../../../../assets/images/icons/settings-ui-svgrepo-com.svg"
          alt="settings"
        />
      </button>
      <button class="rounded-sm shadow-md w-8 h-8 bg-lime-300 p-1">
        <img
          src="../../../../assets/images/icons/filter-svgrepo-com.svg"
          alt="filter"
        />
      </button>
    </div>
  </div>
  <ng-container *ngIf="mode === 'grid'">
    <div class="grid grid-cols-6 gap-4 h-min p-5 w-full">
      <div
        *ngFor="let data of dataList | async"
        class="card-dark col-span-1 row-span-1 flex flex-col justify-self-center my-2 !p-0 overflow-hidden"
        role="button"
      >
        <img
          src="../../../../assets/images/abstract-data.jpg"
          alt="img"
          class="w-full h-1/2"
        />
        <div class="p-3 min-h-fit">
          <h1 class="text-2xl font-semibold text-light">{{ data.filename }}</h1>
          <p class="text-sm my-2 text-light">
            {{ data.description }}
          </p>
          <p class="text-liget font-semibold">
            created at:
            <span class="font-semibold">
              {{ data.create_date }}
            </span>
          </p>
          <p class="text-liget font-semibold">
            last modification:
            <span class="font-semibold">{{ data.modify_date }}</span>
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
